<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MedicoConnection" connectionString="Server=localhost;Port=3306;Database=medico;Uid=root;Pwd=root" />
	</connectionStrings>

	<appSettings>
		<add key="LogOutputFileRelative" value="Logs/log_.txt" />
	</appSettings>
</configuration>