<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MedicoConnection" connectionString="Server=localhost;Port=3306;Database=medico;Uid=root;Pwd=root" />
	</connectionStrings>

	<appSettings>
		<add key="LogOutputFileRelative" value="Logs/log_.txt" />
		
		<add key="ShiftStartHour" value="8" />
		<add key="ShiftStartMinutes" value="0" />
		<add key="ShiftEndHour" value="23" />
		<add key="ShiftEndMinutes" value="30" />
		<add key="DefaultAppointmentDurationInMinutes" value="15" />
		<add key="InBetweenAppointmentsBreakInMinutes" value="5" />
	</appSettings>
</configuration>